#!/bin/sh -
ipfw -f flush

# loopback
ipfw add pass all from any to any via lo0
ipfw add deny all from any to 127.0.0.0/8
ipfw add deny ip from 127.0.0.0/8 to any
ipfw add deny all from any to ::1
ipfw add deny all from ::1 to any

# IPv6 auto-configuration and link-local addresses
ipfw add pass ipv6-icmp from :: to ff02::/16
ipfw add pass ipv6-icmp from fe80::/10 to fe80::/10
ipfw add pass ipv6-icmp from fe80::/10 to ff02::/16
ipfw add pass ipv6-icmp from any to any icmp6types 1
ipfw add pass ipv6-icmp from any to any icmp6types 2,135,136

# allow fragments to pass through
ipfw add pass all from any to any frag

# allow ping and friends
ipfw add pass icmp from any to any icmptype 0,8
ipfw add pass ipv6-icmp from any to any icmp6type 128,129
ipfw add pass icmp from any to any icmptype 3,4,11
ipfw add pass ipv6-icmp from any to any icmp6type 3

# never allow SMTP traffic (just in case!)
ipfw add deny tcp from any to any 25,465,587

# allow all external TCP connections and incoming TCP connections on certain ports *without the need for (costly) dynamic state tables*
ipfw add pass tcp from any to any established
ipfw add pass tcp from me to any setup
ipfw add pass tcp from any to me 22,80,443,9001,9030 setup

# allow external UDP connections with dynamic state tables (this won't happen often)
ipfw add check-state
ipfw add pass udp from me to any keep-state

